#send {
    margin-top: 50px;
}

#send-next {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.info {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1;
}

.input-name {
    margin-top: 10px;
    border: none;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #777c7c;
    font-size: 8px;
    height: 16px;
}

@media (min-width: 1280px) {
    .input-name {
        width: 350px;
        font-size: 14px;
    }
}

.left-side {
    width: 100%;
}

@media (min-width: 1280px) {
    .left-side {
        width: auto;
    }
}

.input-name:focus {
    outline: none !important;
}

.right-side {
    margin-top: 17px;
}

button.react-share__ShareButton {
    margin-left: 0px;
    border-radius: 5px;
}

@media (min-width: 1280px) {
    button.react-share__ShareButton {
        margin-left: -25px;
    }
}

button.react-share__ShareButton:focus {
    outline: none;
}