body {
    margin: 0;
    padding: 0;
    background-color: #395bdc;
    color: #ffffff;
    font-family: 'Proza Libre', sans-serif;
}

@media (min-width: 1024px) {
    body {
        background-image: url("/src/assets/images/bg_blue.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
    }
}

#root {
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#send {
    margin-top: 50px;
}

#send-next {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.info {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1;
}

.input-name {
    margin-top: 10px;
    border: none;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #777c7c;
    font-size: 8px;
    height: 16px;
}

.input-name:focus,
button.react-share__ShareButton:focus {
    outline: none;
}

@media (min-width: 1280px) {
    .input-name {
        width: 350px;
        font-size: 14px;
    }
}

.left-side {
    width: 100%;
}

@media (min-width: 1280px) {
    .left-side {
        width: auto;
    }
}

.right-side {
    margin-top: 17px;
}

button.react-share__ShareButton {
    margin-left: 0px;
    border-radius: 5px;
}

@media (min-width: 1280px) {
    button.react-share__ShareButton {
        margin-left: -25px;
    }
}